#header{
    position: relative;
    height:40px;
    h1{
        position: absolute;
        top:14px;
        left:20px;
    }
    nav{
        text-align:center;
        padding-top:13px;
        .gnb-list{
            display:inline-block;
            li{
                float:left;
                margin-left:10px;
                &:first-child{
                    margin-left:0;
                }
            }
            &:after{
                content: '';
                display: table;
                clear: both;
            }
        }
    }
}